*{
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
                    color: #fff;
}
.container{
                    width: 400px;
                    padding: 25px 35px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    border-radius: 10px;
                    background: linear-gradient(135deg,#40cd7d,#298cb9);
}
.container input{
                    width: 100%;
                    height: 50px;
                    border-radius: 6px;
                    font-size: 1.2rem;
                    padding: 10px;
                    margin: 10px 0 20px;
                    
}
.container button{
                    width: 100%;
                    height: 50px;
                    border-radius: 6px;
                    font-size: 1.2rem;
                    cursor: pointer;
                    background: #494eea;
                    color: #fff;
                    margin: 20px 0;
}
#paragraph{
                    color: red;
                    text-overflow:unset;
}
#ImageBox{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 200px;
                    max-height: 0;
                    border-radius: 6px;
                    overflow: hidden;
                    transition: 1s;
}
#ImageBox img{
                    width: 100%;
                    padding: 10px;
}
#ImageBox.show-img{
                    margin: 10px auto;
                    border: 0.5px solid black;
                    max-height: 300px;
}
.empty{
                   animation: shake 0.1s linear 10;
}
@keyframes shake {
                 0%{
                    transform: translateX(0);
                 }   
                 25%{
                    transform: translateX(-2px);
                 }    
                 50%{
                    transform: translateX(0);
                 }    
                 75%{
                    transform: translateX(2px);
                 }    
                 100%{
                    transform: translateX(0);
                 }     
}